body{

    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
}

h1{

    font-weight: bold;
    font-size: 32px;
}

.container{

    height: 100vh;
    display: grid;
    grid-template-rows: 50px 20px;
}

.inputdiv{

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

}

.valorArt,
.descuento{

    border: 0.5px solid #C6D2D5;
    border-radius: 8px;
}

.btn{

    margin-top: 80px;
    place-self: center;
    width: 150px;
    height: 36px;
    background-color: #CEEBF2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover{

    background-color: rgba(42, 127, 148, 0.3);
}

.anuncio{

    margin-top: 80px;
    justify-self: center;
    
}

.anuncio p{

    max-width: 800px;
    font-size: 50px;
    font-weight: bold;
}